<style>
  .color_margen_nav{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.3);
    padding: 2px 10px;
    width: 180px;
    text-align: center;
  }
</style>

<!--
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm fixed-top">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to 'Calculadora VLSM', {controller: :main, action: :index}, class: "navbar-brand color_margen_nav" %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto">

    </div>
    <div class="d-flex flex-row justify-content-center pb-sm-2 pb-md-0">
      <%= link_to 'Sing-up', {controller: :main, action: :sing_up}, class: "btn btn-primary mr-sm-5 mr-md-3" %>
      <%= link_to 'Sing-in', {controller: :main, action: :sing_in}, class: "btn btn-success" %>
    </div>
  </div>

</nav>
-->

<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm fixed-top">
  <%= link_to 'Calculadora VLSM', {controller: :main, action: :index}, class: "navbar-brand color_margen_nav", title: "Calculadora VLSM" %>
</nav>



<!-- Scroll to resultados -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.color_margen_nav').hover(function() {
      $(this).text("Nuevo cálculo");
    }, function() {
      $(this).text("Calculadora VLSM");
    });

  });
</script>
