<style>
  .bg-azul{background-color: rgba(102, 0, 204, 0.8);}
  .color-h1{color: rgb(255, 255, 255);}
  .altura-h1{height: 15rem}
</style>

<div class="container-fluid bg-azul d-flex justify-content-center align-items-center altura-h1">

    <h1 class="color-h1">VLSM - Variable Length Subnet Masking</h1>

</div>
